/* .main{
    margin-top: 30px;
    margin-left:120px;
    position: fixed;
    background-color: green;
    border-style: dashed;
    border: #111;
    border-width: 2px;

}
 #sidebar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

} */
/* #centerContainer{
  height: 100%;
  position: fixed; 
  overflow: auto; 
} */

   */
  #top {
    float: left;
  }
  



  #top a {
    display: block;
    color: rgb(255, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  /* #top a:hover {
    background-color: #111;
  } */
  /* .active {
    background-color:rgb(15, 119, 189);
  } */
  #topNavBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

  #container {
    padding-left: 300px;
  }
  
  #content {
    padding: 20px;
  }
  
  @media only screen and (max-width : 992px) {
    #container {
      padding-left: 0px;
    }
  }

  label {
    color: white !important;
  }
  input {
    border-bottom: 1px white solid !important;
  }
#menuItem{
  margin-left: 10px;
}
  
#submitButton{
  margin-left: 50px;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 1px 0 0 black;
  box-shadow: 0 1px 0 0 black;
}
.dropdown-content li {
  color: #e7e7e7;
}
label.active {
  text: rgb(248, 248, 248) !important;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;

flex-direction: column;
  }

#card{
  margin: 0 !important;
}
.smallCard{
  width:600px;
  height: 200px;
}

.up{
  color: #f3f3f3;
}
.down{
  color: #f3f3f3;
}